[submodule "api"]
	path = api
	url = https://github.com/Baladjinator/RoadHaze-API.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/Baladjinator/Mobile-App
[submodule "ml"]
	path = ml
	url = https://github.com/Baladjinator/RoadHaze-Cpu-model-and-data-fit-prototype
[submodule "cam"]
	path = cam
	url = https://github.com/Baladjinator/RoadHaze-Cam
